.LiveScore {
  &__players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__sets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__games {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__games-error {
    color: red;
  }

  &__games-toggle {
    cursor: pointer;
  }

  &__games-midwrapper {
    display: flex;
    justify-content: space-between;
  }
}
