.MatchEdit {
  background-color: rgb(0, 112, 60, 0.2);
  &__title {
    text-align: center;
  }

  &__players {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__wins {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__wins-count {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__previous-matches {
    text-align: center;
    padding-top: 10vh;
  }
}
