@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.MatchEdit {
  background-color: rgb(0, 112, 60, 0.2);
  &__title {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 35vh;
  }

  &__options-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
  }

  &__button {
    width: 50%;
    @include form-dropdown;
    margin: 1rem;
    height: 5vh;
    font-weight: bold;
  }

  &__form-items {
    @include form-dropdown;
    height: 2rem;
    width: 80%;
    margin-bottom: 1rem;
  }

  &__players {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__wins {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__wins-count {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__previous-matches {
    text-align: center;
  }

  &__end {
    text-align: center;
  }

  &__text {
    font-size: 1rem;
    line-height: 2rem;
  }
}
