.Placings {
  box-shadow: 2px 2px 2px 2px;
  border-radius: 4px;
  font-size: 0.8rem;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    text-align: center;
    margin: 0;
    padding: 1rem 0;
  }

  &__winners {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
    border-radius: 4px;
  }

  &__winner-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__trophy {
    width: 30%;
  }

  &__winner-item {
    font-size: 1rem;

    text-align: left;
  }

  &__player-list {
    width: 45%;

    border-radius: 4px;
  }
}
