.Placings {
  box-shadow: 2px 2px 2px 2px;
  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__title {
    text-align: center;
  }

  &__winners {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 4px;
    background-color: #00703c;
  }

  &__winner-item {
    font-size: 1.5rem;

    text-align: center;
  }

  &__player-list {
    width: 50%;

    background-color: rgb(0, 112, 60, 0.2);
    border-radius: 4px;
  }

  &__winners {
    width: 45%;
  }
}
