.match {
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  border-top: 1px black dashed;
  border-bottom: 1px black dashed;

  &__players {
    width: 65%;
  }

  &__score-edit {
    display: flex;
    flex-direction: column;
    width: 35%;
  }

  &__score {
  }

  &__edit {
    text-decoration: none;
    color: #00703c;
    border-top: 1px black dashed;
    border-left: 1px black dashed;
    border-right: 1px black dashed;
    width: 50%;
    text-align: center;
  }
}
